WarGames.xcodeproj/project.xcworkspace/xcuserdata/calvinh.xcuserdatad/UserInterfaceState.xcuserstate
WarGames.xcodeproj/project.xcworkspace/xcuserdata/calvinh.xcuserdatad/WorkspaceSettings.xcsettings
WarGames.xcodeproj/xcuserdata/calvinh.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
WarGames.xcodeproj/xcuserdata/calvinh.xcuserdatad/xcschemes/WarGames.xcscheme
WarGames.xcodeproj/xcuserdata/calvinh.xcuserdatad/xcschemes/xcschememanagement.plist
Resources/settings.txt
